@model JJOEC.Models.Variety
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = $"{Model.Name} Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Variety</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crop.CropId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VarietyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
