@model IEnumerable<JJOEC.Models.Variety>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = $"Varieties of {Context.Session.GetString("cropName")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Index" asp-controller="JJPlot" asp-route-identifyCriteria="V" asp-route-varietyId="@item.VarietyId" asp-route-varietyName="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VarietyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VarietyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VarietyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
