@model IEnumerable<JJOEC.Models.TreatmentFertilizer>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = $"Treatment Fertilizers for {Context.Session.GetString("treatmentName")}";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RatePerAcre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateMetric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FertilizerNameNavigation.FertilizerName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Treatment)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RatePerAcre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateMetric)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FertilizerNameNavigation.FertilizerName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Treatment.TreatmentId)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TreatmentFertilizerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TreatmentFertilizerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TreatmentFertilizerId">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a asp-action="Index" asp-controller="JJTreatment">Back to Treatment</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
